body{
  margin: 0px;
}

.header{
  margin: 20px 0px 0px 45px;
}

.head-content{
  margin:0 auto;
  width: 1000px;
}

.page{
  font-family: Tahoma, Geneva, sans-serif;
  color: #5d5b5c;
  font-size: 12px;
  margin:0 auto;
  width: 1280px;
}

a{
  text-decoration: none;
  color: inherit;
}

.shoopa{
  margin-right: 50px;
  font-weight: bold;
  border-right: 1px solid #c2c2c2;
  padding-right: 35px;
}

.category{
  font-size: 10px;
  word-spacing: 20px;  
  color: #c2c2c2;
  font-weight: bold;
}

.image{
  background-image: url("images/icon-cart.jpg");
  height:31px;
  width:47px;
  margin: -20px 0px 0px 1000px;
}

.advertisement{
  margin-top: 20px;
}

.advertisement img{
  width:100%;
}

.producthead hr{
  clear: both;
  margin-top: 50px;
  width:350px;
  color:#f6f4f5;
}
.popproducthead hr{
  clear: both;
  width:350px;
  color:#f6f4f5;
  padding-top: 5px;
  border-left: #FFF;
  border-bottom-color: black;
  border-top: #FFF;
}

.product:last-child{
  margin-bottom: 25px;
}

.productheadcontent{
margin: -15px 0px 0px 550px;
background-color: white;
width: 116px;
padding: 0px 20px;
}

.product{
border: 3px solid #f6f4f5;
width: 200px;
padding-left: 22px;
margin: 20px 0px 0px 140px;
height:240px;
}

.product>img{
  margin: 10px 0px 0px 30px;
}

.product-content{
  margin-top: 15px;
}

.product-price{
  font-weight: bold;
  margin: 7px 0px 0px 60px;
}

.product{
  float: left;  
}

.popular-content{
  width: 129px;
}

.footer{
  clear: both;
margin: 40px 0px 0px 260px;
}

.brand{
margin-left: 35px;
}