body{
  margin: 0px;
}

.header{
  margin: 20px 0px 0px 45px;
}

.head-content{
  margin:0 auto;
  width: 1000px;
}

.page{
  font-family: Tahoma, Geneva, sans-serif;
  color: #5d5b5c;
  font-size: 12px;
  margin:0 auto;
}

a{
  text-decoration: none;
  color: inherit;
}

.shoopa{
  margin-right: 50px;
  margin-left: 60px;
  font-weight: bold;
  border-right: 1px solid #c2c2c2;
  padding-right: 35px;
}

.category{
  font-size: 10px;
  word-spacing: 20px;  
  /*color: #c2c2c2;*/
  /*font-weight: bold;*/
}

.image{
  background-image: url("images/icon-cart.jpg");
  height:31px;
  width:48px;
  margin: -20px 0px 0px 880px;
}

.advertisement{
  margin-top: 20px;
}

.advertisement img{
  width:100%;
}
.producthead{
width: 500px;
margin: 40px auto 20px;
text-align: center;
overflow: hidden;
padding-top: 10px;
}
.producthead div { border-top: 1px solid #EEE;
margin-bottom: -6px;
}

.product:last-child{
  margin-bottom: 20px;
}

.productheadcontent{
background-color: #FFF;
width: 200px;
padding: 0px 20px;
font-size: 18px;
font-family: Arial,Helvetica,sans-serif;
display: inline-block;
margin-top: -27px;
}

.all-products{
  width: 800px;
margin: 0 auto;
}
.product{
border: 3px solid #f6f4f5;
width: 200px;
padding-left: 22px;
margin: 20px 0px 8px 30px;
height:240px;
}

.product>img{
  margin: 10px 0px 0px 30px;
}

.product-content{
  margin-top: 15px;
}

.product-price{
  font-weight: bold;
  margin: 7px 0px 0px 60px;
}

.producttype{
  margin-top: 20px;
}

.product{
  /*float: left;  */
  display: inline-block;
}

.popular-content{
  /*width: 143px;*/
}

.footer{
  clear: both;
margin: 40px 0px 0px 233px;
}

.brand{
margin-left: 35px;
width: 118px;
}