body>ul>li>span{
    display: block;
    font-family: Georgia;
    color:black;
    font-style:italic;
    font-size: 18px;
    background-color: #cfcfcf;
    margin-left: 2px;
    height: 27px;
    border-bottom: 1px solid;
    padding: 8px 20px 0px 20px;
}

/*ul>li:nth-of-type(1):hover{*/
/*li:first-child{
    margin-left: 1px;
}*/

#main li, .list li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}
a {
    text-decoration: none;
    color: black;
}
.list {
    display:none;
    position: absolute;
    top:36px;
    left: 2px;
    width: 200px;
}
#last {
    display:none;
    position: absolute;
    top:36px;
    left: -79px;
    width: 200px;
}
#main li:hover .list {
    display:block;
}
li:hover>.list {
    display:block;
    width:178px;
    padding: 10px;
    border-bottom: 1px solid #6d6d6d;
    border-top: 1px solid #6d6d6d;

}
li:hover>.list>li{
    font-family: Georgia;
    color:black;
    font-style:italic;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cfcfcf
}
li:hover>.list>li:last-child{
    font-family: Georgia;
    color:black;
    font-style:italic;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: none;
}

li:hover>.list>li>a:hover{
    font-family: Georgia;
    color:#bd0707;
    font-style:italic;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cfcfcf;
    border-bottom: none;
}
body>ul>li>span:hover{
    color:#8c8c8c;
    border-top: 1px solid #6d6d6d;
    border-bottom: 1px solid white;
    position: relative;
    z-index: 1;
}
body>ul>li>span:hover, li:hover>.list{
    background-color: white;
    border-left: 1px solid #6d6d6d;
    border-right: 1px solid #6d6d6d;
}
li:hover span{
    background-color: white;
    border-left: 1px solid #6d6d6d;
    border-right: 1px solid #6d6d6d;
    border-bottom: 1px solid white;
    border-top: 1px solid #6d6d6d;
    position: relative;
    z-index: 1;

}