body{
  font: italic 14px Georgia, serif;
}

body>div ul{
  margin:0;
  padding:0;
  float:left;
  border-bottom: 1px solid #6d6d6d;
  text-decoration: none;
  list-style-type: none;
}

body>div>ul>li{
  font-size:18px;
  list-style-type:none;
  background-color:#CFCFCF;
  margin-left:1px;
  float:left;
  position:relative;
}

body>div>ul li:first-child{ 
  margin-left:0;
}

body>div>ul>li:hover{
  border-top:1px solid #6d6d6d;
  border-left:1px solid #6d6d6d;
  border-right:1px solid #6d6d6d;
  background-color:white;
}

body>div>ul>li>a{
  display:block;
  text-decoration:none;
  color:black;
  padding-left:20px;
  padding-right:20px;
  line-height:37px;
}

body>div>ul>li:hover>a{
  padding-left:18px;
  padding-right:18px;
  line-height: 35px;
  color:#8c8c8c;
  border-bottom: 2px solid white;
  margin-bottom: -1px;
}

body>div>ul>li ul{
  display:none;
  padding:10px;
  background-color:white;
  width:186px;
  border-left:1px solid #6d6d6d;
  border-right:1px solid #6d6d6d;
  position:absolute;
  left:-1px;
  top: 37px;
  list-style-type: none;
}

body>div>ul>li:last-child ul{
    right:-1px;
    left: inherit;
}

body>div>ul>li:hover ul{
  display:block;
  float:none;
}

body>div>ul>li>ul li{
  border-top:1px solid #cfcfcf;
}

body>div>ul>li>ul li:first-child{ 
  border-top: none;
}

body>div>ul>li>ul a{
  text-decoration: none;
  font-size:14px;
  padding-top:5px;
  padding-bottom:5px;
  color: black;
  display: block;
}

body>div>ul>li>ul>li:hover a{
  color:#bd0707;
}