.outer-cointainer{
    color: black;
    font: italic 14px Georgia, serif;
}

.main li span{
    display: block;
    font-size: 18px;
    background-color: #cfcfcf;
    margin-left: 2px;
    height: 37px;
    padding: 8px 20.8px 0px 20px;
    border:#6d6d6d solid;
    border-width: 1px 1px 0px 1px;
}

.first{
    margin-left: 0px;
}

li {
    display: inline-block;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.list {
    display:none;
    position: absolute;
    top:46px;
    left: 2px;
    width: 200px;
}

.last {
    left: -78px;
}

.main li:hover .list {
    display:block;
}

.main{
    border-bottom: 1px solid #6d6d6d;
    width: 721px;
    padding-left: 0px;
}

li:hover .list {
    padding: 10px;
    border:solid #6d6d6d;
    border-width: 1px 0px;
}

li:hover .list li:not(:last-child){
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid #cfcfcf
}

.list li a:hover{
    color:#bd0707;
}

span:hover, li:hover .list{
    border-left: 1px solid #6d6d6d;
    border-right: 1px solid #6d6d6d;
}

li:hover span{
    background-color: white;
    border: solid #6d6d6d;
    border-width: 1px 1px 0px 1px;
    outline: 1px solid white;
    position: relative;
    z-index: 1;
}