.section{
  font-family: Tahoma, Geneva, sans-serif;
  margin-bottom: 0px;
  color: black;
  font-size: 24px;
  margin:0 auto;
  width: 1000px;
}
.hdiv{
  padding: 0px;
  background-color: #b2e7ff;
  text-align: center;
  border-bottom: 2px solid #0ab1ff;
  margin: -8px;
  width: 1000px;
  height: 70px;
}
.hdiv>span{
  display: block;
  padding-top: 20px;
}
.mid {
  overflow: hidden;
  width: 1000px;
  margin: 8px 0px 0px -8px;
  background-color: #ededed;
  background-image: url("blue.gif");
  background-repeat: repeat-y;

}
.sidebar {
  float: left;
  width: 25%;
}
a, li{
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.sidebar-heading{
  font-size: 18px;
}
.sidebar-content{
  font-size: 12px;
}
.sidebar-text{
  padding: 25px 10px;
}
.main {
  float: left;
  width: 75%;
  margin-right: -1px;
}
.main-heading{
}
.main-text{
  padding: 20px;
}
.main-content{
  font-size: 14px;
  color: #802525
}
.footer{
  background-color: #3cff78;
  text-align: center;
  border-bottom: 2px solid #0ab1ff;
  margin: 0px 0px -8px -8px;
  height: 98px;
  width: 1000px;
}
.footer>span{
  display: block;
  padding-top: 40px;
}