body{
  padding-left: 10%;
  font-family: Tahoma, Geneva, sans-serif;
  margin-bottom: 0px;
  color: black;
}
.hdiv{
  padding: 0px;
  margin: 0px;
  background-color: #b2e7ff;
  font-size: 24px;
  text-align: center;
  border-bottom: 2px solid #0ab1ff;
  margin: -8px -8px -8px;
  width: 1000px;
  height: 70px;
}
.hdiv>span{
  display: block;
  padding-top: 20px;
}
a{
  text-decoration: none;
  color: white;
}
.sidebar{
  background-color: #0ab1ff;
  padding: 25px 10px 25px 10px;
  margin: 8px 0px -8px -8px;
  width:250px;
  font-size: 18px;
}
.sidebar>ul>li{
  color:white;
  font-size: 14px;
  list-style: inside;
  padding-top: 10px;
  text-indent: -40px;
}
.sidebar>div{
  font-size: 12px;
}
.main{
  background-color: #ededed;
  padding: 25px 20px 25px 20px;
  width: 702px;
  margin-left: 250px;
  margin-top: -500px;
}
.mainheading{
  font-size: 24px;
}
.main, .sidebar{
  height: 450px;
}
.mainbody{
  padding-top: 30px;
  font-size: 14px;
  color: #802525;
}
.footer{
  background-color: #3cff78;
  font-size: 24px;
  text-align: center;
  border-bottom: 2px solid #0ab1ff;
  margin: 0px 0px -8px -8px;
  height: 98px;
  width: 1000px;
}
.footer>span{
  display: block;
  padding-top: 40px;
}